body span {
	text-align: center;
}
body span header, nav {
	margin-left: auto; 
	margin-right: auto;
}
body span header {
	border: 2px solid skyblue;
	width: 70%;
}
body span nav {
	border: 2px solid green;
	width: 70%;
	height: 50px; 
}